/*
chiachiwu.com
@2013 built with jQuery Mobile
Author: Chia Chi wu


Index:
	-  general layout
	-  main-nav vs. mobile-nav
	-  text/ font
	-  grid - 2 columns
	-  footer
	-  media queries

*/


/*==========================================
 general layout
==========================================*/

#wrapper {width:800px; padding: 0 5px;}
.ui-mobile, .ui-mobile .ui-page {background:#FFF;}
.ui-content {background:#FFF; padding:0;}
img{max-width: 100%; height: auto;}
.ui-header .ui-title, .ui-footer .ui-title {text-align:left; width:100%; margin:20px auto 10px auto;}



/*==========================================
main-nav vs. mobile-nav
==========================================*/

.ui-navbar li .ui-btn .ui-btn-inner {padding:0;}
.ui-btn-text { color: #000000; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 11.5px; font-weight:normal; }
.ui-btn-inner { overflow:visible; text-overflow: ellipsis; white-space: normal; border-top:none;}
.ui-navbar li .ui-btn {border-right-width:1px;}
.main-nav .ui-navbar li .ui-btn .ui-btn-inner {background:#FFF; text-shadow:none;}
.ui-navbar li .ui-btn .ui-btn-inner:hover { text-shadow:none;box-shadow:none;}
.ui-navbar li .ui-btn .ui-btn-active  .ui-btn-inner .ui-btn-text {border-right:1px solid #000; font-weight:bold;}
.ui-collapsible-heading .ui-btn-inner, .ui-collapsible-heading .ui-btn-icon-left .ui-btn-inner, .mobile-nav {display:none;}
/*mobile-nav*/
.mobile-nav {width:98.05%;}
.ui-btn-icon-left .ui-icon {left:20px;}


/*==========================================
text/ font
==========================================*/
h2 span {font-weight:normal; font-size:80%; color:#000;}		
h2, h3 {font-size:12.5px; text-align:left; color:#8C8C8C;}
h2 { margin-top:55px;}
h2 > a {text-decoration:none;}
h3{margin-top:25px;}
h3 + p{margin-top:-10px; line-height: 20px;}
p { color: #000000; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 11.5px; line-height: 22px; text-align:justify; margin-top:-5px;}
p > span {color:#8c8c8c;}
span.mobile-hide {color:#000;}
.caption {font-size:70%; color:#8c8c8c; text-align:right;}



/*==========================================
grid - 2 columns
==========================================*/

.ui-grid-a {position:relative; margin-bottom: 2px;}
.ui-grid-a > :last-child  { text-align:justify; padding-left:10px; position:absolute; bottom:-12px;right:0;}
.ui-block-b p {font-size:11px;}
.ui-block-b h3 {margin-top:0;}




/*==========================================
footer
==========================================*/
.ui-footer {background:none; border:none; font-weight:normal; font-size:11.5px; }
.ui-footer p {color:#8c8c8c; text-shadow:none; font-size: 80%; margin-top:10px;}





/*==========================================
media queries
==========================================*/

@media screen and (max-width: 800px) {
	.ui-collapsible-heading .ui-btn-inner, .ui-collapsible-heading .ui-btn-icon-left .ui-btn-inner {padding:none;}
	.ui-collapsible-heading .ui-btn-inner, .ui-collapsible-heading .ui-btn-icon-left .ui-btn-inner, .mobile-nav {display:block; /*background:#FFF;*/}
	.ui-btn-text {width:92%; padding:0 10px;}
	.mobile-nav-title {font-size: 10px;}
	.ui-btn-active {border:none; background:none; text-shadow:none;}
	.ui-content, .ui-footer {padding:0 10px;}
	.ui-header, .main-nav {display:none;}
	h2 {margin-top:20px;}
	/* grid - 3 columns */
	.ui-grid-b .ui-block-a, .ui-grid-b .ui-block-b, .ui-grid-b .ui-block-c {width:32.66%;}
	.ui-grid-b .ui-block-a, .ui-grid-b .ui-block-b {margin-right:1%;}
}

@media screen and (max-width: 600px) {
	.year {display:block;}
}

@media only screen and (min-width: 800px) {
	.ui-page {width: 800px !important; margin: 0 auto !important; position: relative !important;}
	.ui-footer { max-width: 800px; margin: 0 auto;}
	BODY { background-color: #FFF !important;}
}

@media screen and (max-width: 360px) {
	.ui-grid-a, .ui-grid-a .ui-block-a, .ui-grid-a .ui-block-b {float:none;width:100%; position:relative; padding:0;margin-bottom: 0;}
	h3.contact {margin-top:-50px;}
	p {line-height:20px; font-size:13px;}
	.ui-block-b h3 {margin-top:-15px;}
	.ui-block-b p {margin-bottom:30px; line-height:16px;}
	.mobile-hide {display:none;}
	.mobile-nav {width:95.5%;}
}
